body {
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

button {
 background-color: white;
 color: black;
 padding: 10px 20px;
 font-size: 24px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
.hidden {
    display: none;
}
.show {
    display: block;
    text-align: center;
    color: white;
    font-size: 48px;
}
