body {
  margin: 0;
  overflow: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transition: transform 2s ease-in-out;
}

#circle1 {
  background-color: #FF5733;
}

#circle2 {
  background-color: #337DFF;
}
