body {
  margin: 0;
  overflow: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transition: transform 5s ease-in-out;
}

#circle1 {
  background-color: #FF5733; /* Задайте начальный цвет (можно удалить, если не нужен) */
}

#circle2 {
  background-color: #337DFF; /* Задайте начальный цвет (можно удалить, если не нужен) */
}
