html, body {
    overflow: hidden;
    height: 100vh;
}

h1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: textReveal 5s steps(40, end) 1s infinite;
}

@keyframes textReveal {
    from { width: 0; }
    to { width: 100%; }
}

.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  animation: moveCircle 10s infinite;
}

@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(255,255,255,0.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: rgba(255,255,255,0.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(255,255,255,0.2);
  }
}

